

$font_size-28: 1.75em;
$font_size-18: 1.125em;
$font_size-16: 1em;
$font_size-15: 0.9375em;
$font_size-13: 0.8125em;
$font_size-12: 0.75em;
$font_size-11: 0.6875em;
$font_size-10: 0.625em;
$font_size-8: 0.5em;
$font_weight-normal: 400;
$font_weight-medium: 500;
$font_weight-semibold  :600;
$font_weight-bold: 700;
$font_weight-extrabold:800;
$font_weight-ultrabold: 900;

