
@import '_globals.scss';
@import '_flexgrid.scss';
@import 'hamburgermenu.scss';

$colors: (
    Cyan: hsl(180, 66%, 49%),
    Dark Violet: hsl(257, 27%, 26%),
    Red: hsl(0, 87%, 67%),
    Gray: hsl(0, 0%, 75%),
    Grayish Violet: hsl(257, 7%, 63%),
    Very Dark Blue: hsl(255, 11%, 22%),
    Very Dark Violet: hsl(260, 8%, 14%),
    White: hsl(150,100%,100%)
);

$fallback-colors: (
    Cyan , MidnightBlue, Red, LightGray,Thistle, DarkSlateBlue,Indigo,Snow
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
     @include bg-color(map-get($colors,White),nth($fallback-colors,8));
  font: {
     size: $font_size-18;
     weight: $font_weight-normal;
	   family: "Rubik", sans-serif;
  }
}
.hidden{
    display:none;
}
.show{
    display:flex;
}

.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}
.red-font{
   @include font-color(map-get($colors,Red),nth($fallback-colors,3));
}
.green-font{
   @include font-color(lighten(map-get($colors,Cyan),5),nth($fallback-colors,1));
}
.text-center{
   text-align:center;
}
.text-md-start{
   @media screen and(min-width:775px){
       text-align:start;
   }
}
.text-uppercase{
   text-transform: uppercase;
}
.svg-100{
   width:100%;
   height: 100%;
}

.custom-nav{
    z-index:99;
    height:65vh;
    width: 75vw;
    opacity:1;
    position:absolute;
    margin: 0 0.5em;
    @include bg-color(lighten(map-get($colors, Dark Violet),12),nth($fallback-colors,2));
    #nav-top{
       @include bg-color(map-get($colors,White),nth($fallback-colors,8));
    }
    a,#login-mobile{
      @include font-color(map-get($colors,White),nth($fallback-colors,8));
    }
    #login-mobile{
       @include bg-color(lighten(map-get($colors, Dark Violet),12),nth($fallback-colors,2));
       border:none;
       margin-bottom:2em;
    }
    #signup-mobile{
       width: 25em;
    }
}

.order-1{
    .order-zero{
        order:0;
    }
    .order-one{
        order:1;
    }
    @media screen and(min-width:775px){
        .order-md-zero{
           order:0;
        }
        .order-md-one{
           order: 1;
        }
    }
}
//from https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}
#urls_container button,.btn{
    //padding: 5px 15px;
    border-radius: 5px;
    height: 40px;
    width: 10em;
}
#urls_container .shown{
    display:block;
}
#urls_container .not-shown{
    display:none;
}

h1 {
  //due to new h1 html standard rules
  margin-block: 0.67em;
  font-size: 2em;
}
.no-btn{
     @include bg-color(map-get($colors,White),nth($fallback-colors,8));
     border:none;
}
.green-rounded-button{
    border-radius: 14px;
    border:none;
    @include font-color(map-get($colors,White),nth($fallback-colors,8));
    @include bg-color(map-get($colors,Cyan),nth($fallback-colors,1));
    &:hover{
         @include bg-color(lighten(map-get($colors,Cyan),11),nth($fallback-colors,1));
    }
}
.dark-blue-rounded-button{
    border-radius: 14px;
    border:none;
    @include font-color(map-get($colors,White),nth($fallback-colors,8));
    @include bg-color(map-get($colors,Very Dark Blue),nth($fallback-colors,6));
}
.pos-relative{
   position:relative;
}
.touch-target{
    font-size: 24px;
    margin-bottom: 5px;
    @media screen and(min-width: 768px){
        //also for desktop ,just to be sure.
        font-size: 1.1em;
        margin-bottom: 8px;
    }
}

.container{
     
      nav ul {
        list-style-type:none;
        //width: 100%;
      } 
      
      header{
            nav{
                //display:block;
            }
            a{
              text-decoration: none;
            }
            div#desktop-nav a{
              @include font-color(lighten(map-get($colors,Gray),2),nth($fallback-colors,4));
              &:hover{
                 color:black;
              }
            }
            #menubutton{
               margin: 15px 20px;                                              
            }
            #navbarCollapse{
                hr{
                   color: white;
                }
                li {
                   padding-bottom:2em;
                   
                  a{
                    font-size: 2rem;
                    font-weight:$font_weight-medium;
                    @media screen and(min-width:768px){
                      font-size: 1em;
                    }
                  }
                }  
            }
        }
        
        section{
             padding-bottom: 1em;
        }
        &__firstChild{
             margin-top: 1em;
             margin-bottom:2em;
             #first-text{
                 text-align:center;
                 @media screen and(min-width:767px){
                      text-align: start;
                 }
             }
            @media screen and(max-width: 767px){
                //in mobile view the hero svg image ,should have max-width /max-height. I did not use viewbox or svg-100
                #hero{
                    max-width: 75%;
                    max-height:75%;
                }
            }
            @media screen and(min-width:768px){
                margin-bottom:6em;
            }
            
        }
        .border{
          border: 2px solid red;
        }

        &__secondChild{
            padding: 1em;
            @include bg-color(lighten(map-get($colors,Grayish Violet),31),nth($fallback-colors,5));
            #url-form{
               background:map-get($colors,Dark Violet) url(./images/bg-shorten-mobile.svg) top center/100% 100%;
               min-height:8em;
               position:relative;
               bottom: 2em;
                
               #left{
                    height:4em;
                    width:100%;

                    #url{
                        height:40px;
                        width: 100%;
                        max-width:calc(100% - 30px);
                        margin: 0 15px;

                    }
                    #error-message{
                        font-weight:$font_weight-semibold;
                        line-height: 1px;
                    }
                }
                #right{
                      height: 4em;
                }
            }
            .added-url{
                @include bg-color(map-get($colors,White),nth($fallback-colors,8));
                margin: 1em 2em;
            }
           
            ul {
              list-style-type:none;
            }
            ::placeholder {
                color: var(--c, black);
            }
            #urls_container{
                margin-top: 2em;
            }
            @media screen and(min-width:768px){
                  #url-form{
                     background:map-get($colors,Dark Violet) url(./images/bg-shorten-desktop.svg) top center/100% 100%;
                     bottom:4em;
                  }
            }
            @media screen and(max-width:1200px){
                  #url{
                    position:relative;
                    top: 1em;
                    max-width:40em;
                  }
            }
        }
        &__thirdChild{
              padding:1em;
              article{
                 //the vertical line in mobile
                 background: linear-gradient(cyan, cyan) no-repeat center/5px 90%;
              }
              div.white{
                   @include bg-color(map-get($colors,White),nth($fallback-colors,8));
                   margin:3em;
              }
              @include bg-color(lighten(map-get($colors,Grayish Violet),31),nth($fallback-colors,5));
             .svg-icon{
                 width: 80px;
                 height:80px;
                 border-radius:50%;
                 @include bg-color(map-get($colors,Very Dark Blue),nth($fallback-colors,6));
                 margin: 0 auto;
                 position:relative;
                 top: -2em;
             }
            
            @media screen and(min-width:775px){
                  article{
                     //the horizontal line in desktop
                     background: linear-gradient(cyan, cyan) no-repeat 20% center/90% 5px;
                  }
                  .down-1em{
                     top: 1em;
                  }
                  .down-2em{
                     top: 2em;
                  }
                  div.white{
                     margin:1em;
                  }
                  .svg-icon{
                     margin: 0;
                  }
            }
        }
        &__fourthChild{
              background:hsl(257, 27%, 26%) url('./images/bg-boost-mobile.svg') top center/100% 100%;
              @include font-color(map-get($colors,White),nth($fallback-colors,8));
              @media screen and(min-width:768px){
                  background:hsl(257, 27%, 26%) url('./images/bg-boost-desktop.svg') top center/100% 100%;
              }
        }
        &__fifthChild{
              padding: 0.5em 1em;
             #logo-svg,#social{
                @media screen and(max-width:775px){
                    margin:0 auto;
                    position:relative;
                    left: 1em;
                }
             }
             .outer-svg{
                min-width:22%;
             }
             h5{
                padding-bottom:1em;
                margin:0;
             }
             @include bg-color(map-get($colors,Very Dark Violet),nth($fallback-colors,7));
             a{
               text-decoration: none;
             }
             h5,a{
              @include font-color(map-get($colors,White),nth($fallback-colors,8));
              &:hover:not(h5), &:hover:not(#logo-svg){
                 @include font-color(lighten(map-get($colors,Cyan),5),nth($fallback-colors,1));
              }
             }
             
             svg:hover path{
                  fill:cyan;
             }
             
             @media screen and(min-width: 768px){
                 ul{
                   padding:0;
                   margin:0;
                 }
             }
        }
    
        
             
          
      
      #about-me{
        
        @media screen and(min-width:768px){
          position:relative;
          top: 10em;
        }
      }
      @media screen and(min-width:768px){
        @include padding(4em);
        font-size:1.2em;
      }
}
