.display-flex {
  display: flex; }

.direction-row {
  flex-direction: row; }

.direction-column {
  flex-direction: column; }

.no-wrap {
  flex-wrap: nowrap; }

.wrap {
  flex-wrap: wrap; }

.column-wrap {
  flex-flow: column wrap; }

.justify-content-center {
  justify-content: center; }

.justify-content-start {
  justify-content: flex-start; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-around {
  justify-content: space-around; }

@media screen and (min-width: 768px) {
  .justify-content-md-space-between {
    justify-content: space-between; } }

@media screen and (min-width: 768px) {
  .justify-content-md-center {
    justify-content: center; } }

@media screen and (min-width: 768px) {
  .justify-content-md-space-around {
    justify-content: space-around; } }

@media screen and (min-width: 768px) {
  .justify-content-md-start {
    justify-content: flex-start; } }

.align-items-center {
  align-items: center; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-stretch {
  align-items: stretch; }

.align-content-center {
  align-content: center; }

.align-content-stretch {
  align-content: stretch; }

.align-content-between {
  align-content: space-between; }

.align-self-start {
  align-self: flex-start; }

.flex-1 {
  flex: 1; }

.flex-basis-25 {
  flex-basis: 25%; }

.flex-basis-40 {
  flex-basis: 40%; }

.flex-basis-50 {
  flex-basis: 50%; }

.flex-basis-100 {
  flex-basis: 100%; }

.flex-grow-2 {
  flex-grow: 2; }

.flex-shrink-2 {
  flex-shrink: 2; }

@media screen and (min-width: 768px) {
  .me-2-md {
    margin-right: 2em; } }

@media screen and (min-width: 768px) {
  .me-1-md {
    margin-right: 1em; } }

.me-2 {
  margin-right: 2em; }

.me-1 {
  margin-right: 1em; }

.me-half {
  margin-right: 0.5em; }

.colRow {
  flex-direction: column; }
  @media screen and (min-width: 837px) {
    .colRow {
      flex-direction: row; } }

.colRow-l {
  flex-direction: column; }
  @media screen and (min-width: 1200px) {
    .colRow-l {
      flex-direction: row; } }

.rowCol {
  flex-direction: row; }
  @media screen and (min-width: 820px) {
    .rowCol {
      flex-direction: column; } }

.rowCol-1 {
  flex-direction: row; }
  @media screen and (max-width: 375px) {
    .rowCol-1 {
      flex-direction: column; } }

@media screen and (max-width: 836px) {
  #desktop-nav {
    display: none; }

  #nav #nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  ul:not(ul.hidden) {
    display: flex;
    flex-direction: column;
    align-items: center; } }
#close {
  filter: brightness(0) saturate(100%) invert(92%) sepia(3%) saturate(3990%) hue-rotate(191deg) brightness(106%) contrast(105%); }

@media screen and (min-width: 837px) {
  #nav {
    display: none; }

  #desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  #desktop-ul {
    display: flex;
    flex-direction: row; } }
*,
::before,
::after {
  box-sizing: border-box; }

html,
body {
  background-color: Snow;
  background-color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: "Rubik", sans-serif; }

.hidden {
  display: none; }

.show {
  display: flex; }

.top-z-index {
  position: relative;
  z-index: 1;
  opacity: 1; }

.red-font {
  color: Red;
  color: #f46262; }

.green-font {
  color: Cyan;
  color: #3cd7d7; }

.text-center {
  text-align: center; }

@media screen and (min-width: 775px) {
  .text-md-start {
    text-align: start; } }

.text-uppercase {
  text-transform: uppercase; }

.svg-100 {
  width: 100%;
  height: 100%; }

.custom-nav {
  z-index: 99;
  height: 65vh;
  width: 100%;
  opacity: 1;
  position: relative;
  background-color: MidnightBlue;
  background-color: #56477b; }
  .custom-nav #nav-top {
    background-color: Snow;
    background-color: white; }
  .custom-nav a, .custom-nav #login-mobile {
    color: Snow;
    color: white; }
  .custom-nav #login-mobile {
    background-color: MidnightBlue;
    background-color: #56477b;
    border: none;
    margin-bottom: 2em; }
  .custom-nav #signup-mobile {
    width: 25em; }

.order-1 .order-zero {
  order: 0; }
.order-1 .order-one {
  order: 1; }
@media screen and (min-width: 820px) {
  .order-1 .order-md-zero {
    order: 0; }
  .order-1 .order-md-one {
    order: 1; } }

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

#urls_container button, .btn {
  border-radius: 5px;
  height: 40px;
  width: 10em; }

#urls_container .shown {
  display: block; }

#urls_container .not-shown {
  display: none; }

h1 {
  margin-block: 0.67em;
  font-size: 2em; }

.no-btn {
  background-color: Snow;
  background-color: white;
  border: none; }

.green-rounded-button {
  border-radius: 14px;
  border: none;
  color: Snow;
  color: white;
  background-color: Cyan;
  background-color: #2acfcf; }
  .green-rounded-button:hover {
    background-color: Cyan;
    background-color: #56dcdc; }

.dark-blue-rounded-button {
  border-radius: 14px;
  border: none;
  color: Snow;
  color: white;
  background-color: DarkSlateBlue;
  background-color: #35323e; }

.pos-relative {
  position: relative; }

.touch-target {
  font-size: 24px;
  margin-bottom: 8px; }
  @media screen and (min-width: 768px) {
    .touch-target {
      font-size: 1.1em;
      margin-bottom: 8px; } }

.container nav ul {
  list-style-type: none; }
.container header a {
  text-decoration: none; }
.container header div#desktop-nav a {
  color: LightGray;
  color: #c4c4c4; }
  .container header div#desktop-nav a:hover {
    color: black; }
.container header #navbarCollapse hr {
  color: white; }
.container header #navbarCollapse li {
  padding-bottom: 2em; }
  .container header #navbarCollapse li a {
    font-size: 2rem;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .container header #navbarCollapse li a {
        font-size: 1em; } }
.container section {
  padding-bottom: 1em; }
.container__firstChild {
  margin-top: 1em;
  margin-bottom: 2em; }
  .container__firstChild #first-text {
    text-align: center; }
    @media screen and (min-width: 837px) {
      .container__firstChild #first-text {
        text-align: start; } }
  @media screen and (max-width: 837px) {
    .container__firstChild #hero {
      max-width: 75%;
      max-height: 75%; } }
  @media screen and (min-width: 837px) {
    .container__firstChild {
      margin-bottom: 6em; } }
.container .border {
  border: 2px solid red; }
.container__secondChild {
  padding: 1em;
  background-color: Thistle;
  background-color: #efeff1; }
  .container__secondChild #url-form {
    background: #3b3054 url(./images/bg-shorten-mobile.svg) top center/100% 100%;
    min-height: 8em;
    position: relative;
    bottom: 2em; }
    .container__secondChild #url-form #left {
      height: 4em;
      width: 100%; }
      .container__secondChild #url-form #left #url {
        height: 40px;
        width: 100%;
        max-width: calc(100% - 30px);
        margin: 0 15px; }
      .container__secondChild #url-form #left #error-message {
        font-weight: 600;
        line-height: 1px; }
    .container__secondChild #url-form #right {
      height: 4em; }
  .container__secondChild .added-url {
    background-color: Snow;
    background-color: white;
    margin: 1em 2em; }
  .container__secondChild ul {
    list-style-type: none; }
  .container__secondChild ::placeholder {
    color: var(--c, black); }
  .container__secondChild #urls_container {
    margin-top: 2em; }
  @media screen and (min-width: 837px) {
    .container__secondChild #url-form {
      background: #3b3054 url(./images/bg-shorten-desktop.svg) top center/100% 100%;
      bottom: 4em; } }
  @media screen and (max-width: 1200px) {
    .container__secondChild #url {
      position: relative;
      top: 1em;
      max-width: 40em; } }
.container__thirdChild {
  padding: 1em;
  background-color: Thistle;
  background-color: #efeff1; }
  .container__thirdChild article {
    background: linear-gradient(cyan, cyan) no-repeat center/5px 90%; }
  .container__thirdChild div.white {
    background-color: Snow;
    background-color: white;
    margin: 3em; }
  .container__thirdChild .svg-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: DarkSlateBlue;
    background-color: #35323e;
    margin: 0 auto;
    position: relative;
    top: -2em; }
  @media screen and (min-width: 837px) {
    .container__thirdChild article {
      background: linear-gradient(cyan, cyan) no-repeat 20% center/90% 5px; }
    .container__thirdChild .down-1em {
      top: 1em; }
    .container__thirdChild .down-2em {
      top: 2em; }
    .container__thirdChild div.white {
      margin: 1em; }
    .container__thirdChild .svg-icon {
      margin: 0; } }
.container__fourthChild {
  background: #3b3054 url("./images/bg-boost-mobile.svg") top center/100% 100%;
  color: Snow;
  color: white; }
  @media screen and (min-width: 820px) {
    .container__fourthChild {
      background: #3b3054 url("./images/bg-boost-desktop.svg") top center/100% 100%; } }
.container__fifthChild {
  padding: 0.5em 1em;
  background-color: Indigo;
  background-color: #232127; }
  @media screen and (max-width: 837px) {
    .container__fifthChild #logo-svg, .container__fifthChild #social {
      margin: 0 auto;
      position: relative;
      left: 1em; } }
  .container__fifthChild .outer-svg {
    min-width: 22%; }
  .container__fifthChild h5 {
    padding-bottom: 1em;
    margin: 0; }
  .container__fifthChild a {
    text-decoration: none; }
  .container__fifthChild h5, .container__fifthChild a {
    color: Snow;
    color: white; }
    .container__fifthChild h5:hover:not(h5), .container__fifthChild h5:hover:not(#logo-svg), .container__fifthChild a:hover:not(h5), .container__fifthChild a:hover:not(#logo-svg) {
      color: Cyan;
      color: #3cd7d7; }
  .container__fifthChild svg:hover path {
    fill: cyan; }
  @media screen and (min-width: 837px) {
    .container__fifthChild ul {
      padding: 0;
      margin: 0; } }
@media screen and (min-width: 837px) {
  .container #about-me {
    position: relative;
    top: 10em; } }
@media screen and (min-width: 837px) {
  .container {
    padding: 4em;
    font-size: 1.2em; } }

/*# sourceMappingURL=url-shortening-api-master.css.map */
